node_modules
npm-debug.log
log
.git
.gitignore
.build
.eslintrc.js
.eslintignore
.env
.dockerignore
README.md
TODO.md 
Dockerfile
docker-compose.yml
docker-compose.dev.yml
db
db-runner
tools
deployment
*.spec.js.vscode